
@tailwind components;

@layer components {
  .app_title {
    @apply 
      ml-6 
      text-lg 
      font-bold 
      text-gray-800 
      visited:text-foreground 
      dark:text-gray-200 ;
  }
  .nav_menu_item {
    @apply
      font-medium
      text-foreground 
      transition ease-in-out delay-150 
      hover:text-primary 
      visited:text-foreground 
      visited:hover:text-primary
      active:text-primary
      visited:active:text-primary;
  }
}